/* Primary Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.btn-primary {
    color: white;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 16px 25px;
    border-radius: 8px;
    background: #FF900E;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: var(--dark-01, #131313);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

nav > ul {
    display: flex;

}

nav li {
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    margin-left: 30px;

}

nav a {
    color: var(--dark-02, #424242);
    text-decoration: none;
}


/* Banner styles */

.banner-content {
    max-width: 900px;
    text-align: center;
    margin:auto;
    margin-top: 70px;
}

.banner-title {
    font-size: 4rem;
    color: var(--dark-01, #131313);
    
}

.section-description {
    margin-top: 20px;
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}


.banner img {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1.5rem;
}

.team-info-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 4rem;
}

.quick-list {
    color: var(--dark-03, #727272);
    font-weight: 500;
}

.text-features {
    color: #FF900E;
}

.team-description {
    line-height: 1rem; 
    line-height: 26px; 
}

.facts {
    margin-top: 40px;
    margin-left: 70px;
}



/* feature styles */
.features {
    display: flex;
    margin-top: 100px;
    gap: 100px;
}

.feature-title {
    padding-left: 20px;
    padding-bottom: 20px;
    border-left: 5px solid  #FF900E;
    color: var(--dark-01, #131313);
    font-size: 45px;
}

.feature-description {
    padding-top: 20px;
    padding-bottom: 30px;
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.feature-card {
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-card-title {
    color: var(--dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.feature-card-description {
    color: gray;
}

.feature-image  img {
    height: 80%;
    margin-left: 50px;
}

.ten-years-badge {
    padding: 40px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 342px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h1 {
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;

}

.ten-years-badge p {
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}


/* facts card style */
.fact-card-container {
    display: flex;
    justify-content: space-around;

}
.fact-card-container  .card{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px;

}

.card-stats {
    font-size: 2.8rem;
}

.card-title {
    color: var(--dark-03, #727272);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

/* Sponsers Section */
.sponser-img-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}


.sponser-img-container img {
    width: 165px;
}
/* Responsive Styles */

/* Mobile Device */
@media screen and (max-width : 576px) {
    /* Responsive Header Styles */
    header {
        padding: 20px;
    }

    nav    {
        flex-direction: column;
        gap: 20px;
    }

    /* team section styles */
    .teams {
        flex-direction: column-reverse;
    }
    .team-img-container {
        grid-template-columns: 1fr;
    }

    .team-title {
        font-size: 2.5rem;
    }

    .team-info-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* facts card style */
    .facts {
        margin-top: 30px;
        margin-left: 30px;
    }
    
    .fact-card-container {
        flex-direction: column;
        padding: 20px;
        gap: 10px;

    }

    .sponser-img-container {
        flex-direction: column;
    }

    /* feature styles */
    .features {
        flex-direction: column;
    }

    .feature-title {
        margin-left: 20px;
    }

    .feature-image  img {
        width: 100%;
        margin: 10px 0;
    }

    .feature-description {
        margin: 20px
    }

    .feature-card  {
        margin: 20px;
    }

    .ten-years-badge {
        left: 50px;
    }


}

/* Tablet or Medium Styles */
@media screen and (min-width: 576px) and (max-width : 960px) {
     /* Responsive Header Styles */
     header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
    }

     /* team section styles */
    .teams {
        flex-direction: column-reverse;
    }

    .team-title {
        font-size: 3rem;
    }

    .team-info-content {
        padding-left: 50px;
        padding-right: 50px;
    }

    /* facts card style */
    .facts {
        margin-top: 30px;
        margin-left: 30px;
    }
    
    .fact-card-container {
        flex-direction: column;
        padding: 20px;
        gap: 10px;

    }

    .sponser-img-container {
        flex-direction: column;
    }

    /* feature styles */
    .features {
        flex-direction: column;
    }

    .feature-title {
        margin-left: 20px;
    }

    .feature-image  img {
        width: 100%;
        margin: 10px 0;
    }

    .feature-description {
        margin: 20px
    }

    .feature-card  {
        margin: 20px;
    }

    .ten-years-badge {
        left: 50px;
    }
}