/* Primary Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.btn-primary {
    color: white;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 16px 25px;
    border-radius: 8px;
    background: #FF900E;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: var(--dark-01, #131313);
    font-size: 2.5rem;
    font-weight: 700;
}

nav > ul {
    display: flex;

}

nav li {
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    margin-left: 30px;

}

nav a {
    color: var(--dark-02, #424242);
    text-decoration: none;
}


/* Banner styles */

.banner-content {
    max-width: 900px;
    text-align: center;
    margin:auto;
    margin-top: 70px;
}

.banner-title {
    font-size: 4rem;
    color: var(--dark-01, #131313);
    
}

.banner-description {
    margin-top: 20px;
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}


.banner img {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1.5rem;
}

.team-info-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 4rem;
}

.quick-list {
    color: var(--dark-03, #727272);
    font-weight: 500;
}

.text-features {
    color: #FF900E;
}

.team-description {
    line-height: 1rem; 
    line-height: 26px; 
}

/* Responsive Styles */

/* Mobile Device */
@media screen and (max-width : 576px) {
    /* Responsive Header Styles */
    header {
        padding: 20px;
    }

    nav   {
        flex-direction: column;
        gap: 20px;
    }

    /* team section styles */
    .teams {
        flex-direction: column-reverse;
    }
    .team-img-container {
        grid-template-columns: 1fr;
    }

    .team-title {
        font-size: 2.5rem;
    }

    .team-info-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Tablet or Medium Styles */
@media screen and (min-width: 576px) and (max-width : 960px) {
     /* Responsive Header Styles */
     header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
        gap: 20px;
    }

     /* team section styles */
    .teams {
        flex-direction: column-reverse;
    }

    .team-title {
        font-size: 3rem;
    }

    .team-info-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}


